.footer
  background: #fff
  padding: 0
  margin-top: 60px
  letter-spacing: 0
  position: relative
  z-index: 2
  +r($sm)
    display: none
  .all
    display: flex
    gap: 60px
    padding-bottom: 40px
    padding-top: 58px
    position: relative
    +r($xl)
      flex-direction: column
      padding-top: 48px
    &:before
      content: ""
      height: 2px
      width: 100%
      position: absolute
      top: 0
      left: 0
      background: radial-gradient(96.63% 96.72% at 100% 100%, #F26135 0%, #FF9950 100%)
      +r($xl)
        left: 30px
        right: 30px
        width: auto
        
  &-left
    flex: 1 1 auto
    min-width: 0
  
  &-right
    flex: 0 0 320px
    display: flex
    flex-direction: column
    gap: 80px
    +r($xl)
      flex: 1 1 auto
      width: 100%
      flex-direction: row
      flex-wrap: wrap
      gap: 24px
      padding-top: 64px
      
  &-nav
    list-style: none
    margin: 0 0 53px
    padding: 0
    display: flex
    flex-wrap: wrap
    gap: 52px
    font-size: 15px
    +r($xl)
      gap: 26px
    li
      display: inline-block
      
      a
        color: $black700
        text-decoration: none
        transition: color $transitionSpeed $ease
        &:hover
          color: $black1000
  
  &-submenu
    display: flex
    gap: 28px
    
    .col
      flex: 1 1 calc(33% - 28px)
      max-width: calc(33% - 28px)
      display: flex
      flex-direction: column
      gap: 32px
      
    .submenu-title
      padding: 17px 0
      font-size: 20px
      font-weight: 600
      &:first-child
        margin-top: 0
      
      &__link
        color: $black700
        text-decoration: none
        display: flex
        align-items: center
        gap: 14px
        svg
          opacity: 1
          stroke: #D9D9D9
          transition: all $transitionSpeed $ease
          transform: translateX(0px)
        &:hover
          color: $black1000
          svg
            stroke: #F26135
            transform: translateX(3px)
    .submenu-list
      list-style: none
      margin: 0
      padding: 0
      display: flex
      flex-direction: column
      gap: 14px
      
      .submenu-item
        display: flex
        +r($xl)
          flex-direction: column
          gap: 14px
          line-height: 1.4
        &__col
          display: inline-block
          width: 50%
          vertical-align: top
          padding-right: 8px
          +r($xl)
            width: 100%
        a
          font-size: 15px
          color: $black700
          text-decoration: none
          display: block
          &:hover
            color: $black1000
  
  &-support
    position: relative
    +r($xl)
      width: calc(33.333% - 24px)
    &__btn
      max-width: 280px
    
    &__title
      font-size: 16px
      color: $black400
      margin-bottom: 10px
      +r($xl)
        color: $black700
        font-size: 15px
    &__phone
      font-size: 20px
      font-weight: 600
      color: $black700
      margin-bottom: 16px
      position: relative
      +r($xl)
        position: static
        font-size: 16px
        
      svg
        position: absolute
        top: 4px
        left: -32px
        +r($xl)
          top: -40px
          left: 0
          
      a
        color: $black700
        text-decoration: none
        transition: color $transitionSpeed $ease
        &:hover
          color: $orangeMain500
    
    &__btn
      .btn
        width: 100%
        +r($xl)
          width: auto
  &-local
    font-size: 16px
    color: $black700
    line-height: 1.6
    margin-bottom: 24px
    +r($xl)
      position: relative
      width: calc(33.333% - 24px)
      font-size: 15px
    strong
      font-weight: 600
      color: $black700
      font-size: 20px
      display: block
      position: relative
      +r($xl)
        position: static
        font-size: 16px
      svg
        position: absolute
        top: 9px
        left: -32px
        +r($xl)
          top: -40px
          left: 0
  &-email
    margin-bottom: 32px
    +r($xl)
      position: relative
      width: calc(33.333% - 24px)
    &__title
      font-size: 16px
      color: $black700
      margin-bottom: 8px
      +r($xl)
        font-size: 15px
    &__link
      a
        font-size: 20px
        color: $black700
        font-weight: 600
        text-decoration: none
        transition: color $transitionSpeed $ease
        display: block
        position: relative
        +r($xl)
          position: static
          font-size: 16px
        svg
          position: absolute
          top: 6px
          left: -32px
          +r($xl)
            top: -40px
            left: 0
        &:hover
          color: $black1000
  
  &-socs
    list-style: none
    margin: 0 0 0 -32px
    padding: 0
    display: flex
    gap: 36px
    +r($xl)
      width: 100%
      justify-content: center
      border-top: 1px solid #E1E4E7
      border-bottom: 1px solid #E1E4E7
      padding: 20px 0
      margin: 40px 0 0
      gap: 66px
    li
      display: inline-block
      
      a
        display: flex
        align-items: center
        justify-content: center
        width: 36px
        height: 36px
        transition: all $transitionSpeed $ease
        color: $black700
        
        .svg-icon
          width: 36px
          height: 36px
          fill: $orangeMain500
        &:hover
          .svg-icon
            fill: $orangeMain600
  
  &-bottom
    .all
      display: flex
      align-items: flex-end
      justify-content: space-between
      gap: 20px
      padding: 28px 0
      margin-top: 28px
      border-top: 1px solid #E1E4E7
      +r($xl)
        padding-left: 35px
        padding-right: 35px
        align-items: normal
        border: none
        margin-top: 0
        padding-top: 0
        flex-direction: row
        gap: 24px
      &:before
        display: none
      
    &__left
      display: flex
      align-items: flex-end
      gap: 24px
      +r($xl)
        flex-direction: column
        align-items: flex-start
        width: calc(33.333% + 36px)
    &__logo
      display: flex
      align-items: center
      position: relative
      top: -3px
      
      img
        height: 32px
        width: auto
    
    &__copyright
      font-size: 14px
      color: $black700
    
    &__right
      display: flex
      gap: 36px
      align-items: flex-end
    
    &__link
      font-size: 14px
      color: $black700
      text-decoration: none
      transition: color $transitionSpeed $ease
      &:hover
        color: $black1000
  
  &-wrapper
    padding: 40px 0 30px
    background: $baseBg
    margin-top: 140px
    +r($md)
      margin-top: 80px

.mobile-toolbar
  display: none
  position: fixed
  z-index: 98
  bottom: 0
  left: 0
  width: 100%
  background: #fff
  +r($sm)
    display: block
  .aside-nav
    &__list
      display: flex
      justify-content: space-between
      flex-direction: row
      text-align: center
    &__link
      align-items: center
      font-size: 2.6vw
    &__item
      &.--active
        svg
          stroke: #fff
          

          
.mobile-menu
  position: absolute
  top: 47px
  left: 0
  bottom: 0
  width: 70%
  max-width: 495px
  background: #fff
  z-index: 1
  display: flex
  flex-direction: column
  +r($sm)
    width: 100%
  &__layout
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    z-index: 99
    display: none
    &.--show
      display: block
    &-bg
      background: rgba(0,0,0, .6)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &__menu
    flex: 1 1 auto
    overflow: hidden
    display: flex
  &__list
    display: flex
    flex-direction: column
    gap: 0
    width: 100%
    overflow: auto
  &__item
    // padding: 22px 30px
    border-bottom: 1px solid #D9D9D9
    
    &.--active
      border-bottom: none
      & > .mobile-menu__submenu
        display: flex
      & > .mobile-menu__item-title.--arr > .svg-icon
        transform: rotate(0)
        stroke: #C0C0C0
      & .mobile-menu__submenu__item.--active
        .mobile-menu__submenu
          display: flex
    &-title
      color: $black700
      font-size: 20px
      font-weight: 600
      display: block
      padding: 19px 30px 20px
      position: relative
      +r($sm)
        padding: 19px 16px 20px
      &.--arr
        & > .svg-icon
          position: absolute
          top: 23px
          right: 46px
          transform: rotate(-90deg)
          stroke: $black700
  &__submenu
    display: none
    flex-direction: column
    gap: 18px
    padding: 0 30px
    +r($sm)
      padding: 0 16px
      gap: 12px
    .mobile-menu__item-title.--arr
      & > .svg-icon
        right: 17px
    &__item
      background: #F0F2F4
      border-radius: 10px
    & .mobile-menu__submenu
      background: #F0F2F4
      display: none
      flex-direction: row
      flex-wrap: wrap
      font-size: 16px
      gap: 4px
      padding: 8px
      
      .mobile-menu__submenu__item
        flex: 1 1 auto
        display: inline-flex
        
        .mobile-menu__submenu__link
          display: block
          background: #fff
          padding: 14px 20px
          border-radius: 10px
          color: $black700
          flex: 1 1 auto
  &__footer
    padding: 34px 30px
    +r($sm)
      padding: 24px 16px
  .footer-support
    min-width: 100%
    width: auto
    padding: 35px 30px 0
    margin: 0 -30px
    border-top: 1px solid #D9D9D9
    &__title
      font-size: 16px
      color: #5C5C5C
    &__phone
      font-size: 28px
      a
        color: #424242
        
  .footer-local
    width: 100%
    font-size: 16px
    margin-bottom: 35px
    strong
      font-size: 20px
  .footer-email
    width: 100%
    margin-bottom: 35px
    &__link
      a
        font-size: 20px
  .footer-socs
    border: none
    padding: 0
    margin: 0 0 35px
    justify-content: flex-start
    gap: 40px


.mobile-modal
  position: absolute
  top: 47px
  left: 0
  bottom: 0
  width: 70%
  max-width: 495px
  background: #fff
  z-index: 1
  display: flex
  flex-direction: column
  +r($sm)
    width: 100%
  &__layout
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    z-index: 99
    display: none
    &.--show
      display: block
    &-bg
      background: rgba(0,0,0, .6)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &-wrapper
    padding: 40px 0 30px
    background: $baseBg
    margin-top: 140px
    +r($md)
      margin-top: 80px
