.footer
  background: #fff
  padding: 0
  margin-top: 60px
  letter-spacing: 0
  position: relative
  z-index: 2
  +r($sm)
    display: none
  .all
    display: flex
    gap: 60px
    padding-bottom: 40px
    padding-top: 58px
    position: relative
    +r($xl)
      flex-direction: column
      padding-top: 48px
    &:before
      content: ""
      height: 2px
      
      position: absolute
      top: 0
      background: radial-gradient(96.63% 96.72% at 100% 100%, $orangeMain500 0%, #FF9950 100%)
      left: 30px
      right: 30px
      width: auto
      
  &-left
    flex: 1 1 auto
    min-width: 0
  
  &-right
    margin-left: 3px
    flex: 0 0 311px
    display: flex
    flex-direction: column
    gap: 75px
    +r($hd)
      flex: 0 0 23%
      max-width: 255px
    +r($xl)
      flex: 1 1 auto
      max-width: 100%
      width: 100%
      flex-direction: row
      flex-wrap: wrap
      gap: 25px
      padding-top: 64px
      
  &-nav
    list-style: none
    margin: 0 0 58px
    padding: 0
    display: flex
    flex-wrap: wrap
    gap: 52px
    font-size: 15px
    +r($xl)
      gap: 26px
    li
      display: inline-block
      
      a
        color: $black700
        text-decoration: none
        transition: color $transitionSpeed $ease
        &:hover
          color: $black1000
  
  &-submenu
    display: flex
    gap: 43px
    +r($hd)
      gap: 25px
    .col
      padding-right: 5px
      flex: 1 1 calc(33% - 28px)
      max-width: calc(33% - 28px)
      display: flex
      flex-direction: column
      gap: 32px
      +r($hd)
        flex: 1 1 calc(33% - 4px)
        max-width: calc(33% - 4px)
    .submenu-title
      padding: 17px 0 20px
      font-size: 20px
      font-weight: 600
      &:first-child
        margin-top: 0
      
      &__link
        color: $black700
        text-decoration: none
        display: flex
        align-items: center
        gap: 14px
        svg
          opacity: 1
          stroke: #D9D9D9
          transition: all $transitionSpeed $ease
          transform: translateX(0px)
        &:hover
          color: $black1000
          svg
            stroke: $orangeMain500
            transform: translateX(3px)
    .submenu-list
      list-style: none
      margin: 0
      padding: 0
      display: flex
      flex-direction: column
      gap: 20px
      
      .submenu-item
        display: flex
        line-height: 1.2
        +r($xl)
          flex-direction: column
          gap: 14px
          line-height: 1.4
        &__col
          display: inline-block
          width: 50%
          vertical-align: top
          padding-right: 8px
          +r($xl)
            width: 100%
        a
          font-size: 15px
          color: $black700
          text-decoration: none
          display: block
          &:hover
            color: $black1000
  
  &-support
    position: relative
    +r($xl)
      width: calc(33% - 11px)
    &__btn
      max-width: 275px
    
    &__title
      font-size: 16px
      color: $black700
      margin-bottom: 3px
      +r($xl)
        font-size: 15px
    &__phone
      font-size: 20px
      font-weight: 600
      color: $black700
      margin-bottom: 19px
      position: relative
      +r($xl)
        position: static
        font-size: 16px
        
      svg
        position: absolute
        top: 4px
        left: -32px
        +r($xl)
          top: -40px
          left: 0
          
      a
        color: $black700
        text-decoration: none
        transition: color $transitionSpeed $ease
        &:hover
          color: $black1000
    
    &__btn
      .btn
        width: 100%
        +r($xl)
          width: auto
  &-local
    font-size: 16px
    color: $black700
    line-height: 1.4
    
    +r($xl)
      position: relative
      margin-bottom: 24px
      width: calc(33% - 13px)
      font-size: 15px
    strong
      font-weight: 600
      color: $black700
      font-size: 20px
      display: block
      position: relative
      +r($xl)
        position: static
        font-size: 16px
      svg
        position: absolute
        top: 9px
        left: -32px
        +r($xl)
          top: -40px
          left: 0
  &-email
    // margin-bottom: 32px
    +r($xl)
      position: relative
      width: calc(33% - 21px)
    &__title
      font-size: 16px
      color: $black700
      margin-bottom: 3px
      +r($xl)
        font-size: 15px
    &__link
      a
        font-size: 20px
        color: $black700
        font-weight: 600
        text-decoration: none
        transition: color $transitionSpeed $ease
        display: block
        position: relative
        +r($xl)
          position: static
          font-size: 16px
        svg
          position: absolute
          top: 6px
          left: -32px
          +r($xl)
            top: -40px
            left: 0
        &:hover
          color: $black1000
  &-bottom__1
    +r($hd)
      max-width: 47%
  &-bottom__2
    width: 342px
    +r($hd)
      flex: 1 1 23%
      max-width: 290px
  &-socs
    list-style: none
    margin: 0 0 0 -32px
    padding: 0
    display: flex
    gap: 36px
    +r($xl)
      width: 100%
      justify-content: center
      border-top: 1px solid #E1E4E7
      border-bottom: 1px solid #E1E4E7
      padding: 20px 0
      margin: 40px 0 0
      gap: 66px
    li
      display: inline-block
      
      a
        display: flex
        align-items: center
        justify-content: center
        width: 36px
        height: 36px
        transition: all $transitionSpeed $ease
        color: $black700
        
        .svg-icon
          width: 36px
          height: 36px
          fill: $orangeMain500
        &:hover
          .svg-icon
            fill: $orangeMain600
  
  &-bottom
    .all
      display: flex
      align-items: flex-end
      justify-content: space-between
      gap: 20px
      padding: 28px 30px
      margin-top: 28px
      position: relative
      +r($hd)
        align-items: flex-start
      +r($xl)
        padding-left: 35px
        padding-right: 35px
        align-items: flex-end
        border: none
        margin-top: 0
        padding-top: 0
        flex-direction: row
        gap: 24px
      +r($md)
        gap: 0
      &:before
        display: block
        background: #E1E4E7
        +r($xl)
          display: none
    &__left
      display: flex
      align-items: flex-end
      gap: 24px
      +r($xl)
        flex-direction: column
        align-items: flex-start
        width: calc(33.333% + 36px)
      +r($md)
        max-width: 220px
        gap: 10px
    &__logo
      display: flex
      align-items: center
      position: relative
      top: -3px
      color: $black600
      &:hover
        color: $black700
      .logo-foot
        width: 122px
        height: 32px
        
      img
        height: 32px
        width: auto
    
    &__copyright
      font-size: 14px
      color: $black700
      span
        +r($md)
          display: block

        
    &__right
      display: flex
      gap: 34px
      align-items: flex-end
      +r($hd)
        width: 50%
        max-width: calc(50% - 10px)
        align-items: flex-start
        margin-top: 14px
      +r($md)
        width: auto
        max-width: 64%
    &__link
      font-size: 14px
      color: $black700
      text-decoration: none
      transition: color $transitionSpeed $ease
      &:hover
        color: $black1000
  
  &-wrapper
    padding: 40px 0 30px
    background: $baseBg
    margin-top: 140px
    +r($md)
      margin-top: 80px

.mobile-toolbar
  display: none
  position: fixed
  z-index: 98
  bottom: 0
  left: 0
  width: 100%
  background: #fff
  +r($sm)
    display: block
  .aside-nav
    &__list
      display: flex
      justify-content: space-between
      flex-direction: row
      text-align: center
    &__link
      align-items: center
      font-size: 2.2vw
      padding-left: 0
      padding-right: 0
    &__item
      flex: 1 1 auto
      svg
        width: 24px
        height: 24px
      
      &.--active
        svg
          stroke: #fff
          &.icon-ic-menu-support
            stroke: $black1000
    &__icon
      width: 24px
      max-width: 24px
      height: 24px

      
.mobile-menu
  position: absolute
  top: 45px
  left: 0
  bottom: 0
  width: 70%
  max-width: 495px
  background: #fff
  z-index: 1
  display: flex
  flex-direction: column
  padding-top: 7px
  overflow-y: auto
  overflow-x: hidden
  +r($sm)
    width: 100%
    
  .mobile-menu__item.--active
    .mobile-menu-footer__submenu
      display: flex
  &-footer
    &__submenu
      font-size: 16px
      margin: 0
      padding: 0 16px
      display: none
      flex-direction: column
      &__item
        display: block
        width: 100%
      &__link
        display: block
        border-radius: 10px
        padding: 14px 20px
        color: $black900
        &:hover
          background: $black25
        &.--active
          background: #E1E4E7
  &-footer-wrapper
    padding-top: 64px
    background: #fff
    padding-bottom: 60px
    position: relative
    display: none
    +r($sm)
      display: block
    &:before
      content: ""
      height: 3px
      border-bottom: 1px solid #D9D9D9
      width: 100%
      display: block
      background: radial-gradient(96.63% 96.72% at 100% 100%, $orangeMain500 0%, #FF9950 100%)
    
    .footer-bottom
      margin-bottom: 40px
      .all
        display: flex
        flex-direction: column
        margin: 0
        padding: 0
      
      &__left
        max-width: 100%
        width: 100%
        flex-direction: row
        align-items: center
      &__right
        max-width: 100%
        width: 100%
        flex-direction: row
        gap: 16px

      &__link
        font-size: 10px
      &__2
        max-width: 47%
        width: 45%
      &__copyright
        font-size: 10px
        
        span
          display: inline
    .mobile-menu
      position: relative
      top: 0
      width: 100%
      max-width: 100%
      padding: 0
      .footer-local
        padding-left: 40px
        margin-bottom: 60px
        strong
          position: relative
          top: 0
          left: 0
          svg
            top: 0
            left: -40px
      .footer-support
        margin-left: 0
        margin-right: 0
        padding-top: 0
        margin-bottom: 60px
        padding-left: 40px
        padding-right: 0
        border: none
        &__btn .btn
          width: 100%
        &__phone
          position: relative
          
          svg
            top: 0
            left: -40px
      .footer-email
        padding-left: 40px
        &__link
          position: relative
          svg
            top: 0
            left: -40px
            
      .footer-socs
        text-align: center
        justify-content: center
        border-top: 1px solid #E1E4E7
        border-bottom: 1px solid #E1E4E7
        margin: 0 0 60px
        padding: 28px 0
  &__layout
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    z-index: 99
    display: none
    &.--show
      display: block
    &-bg
      background: rgba(0,0,0, .6)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &__menu
    // flex: 1 1 auto
    // overflow: hidden
    display: flex
  &__list
    display: flex
    flex-direction: column
    gap: 0
    width: 100%
    // overflow: auto
  &__item
    // padding: 22px 30px
    border-bottom: 1px solid #D9D9D9
    .menu-num
      display: inline-flex
      vertical-align: top
      align-items: center
      margin-left: auto
      font-size: 16px
      color: #fff
      font-weight: 400
      background: $orangeMain500
      padding: 1px 10px
      border-radius: 12px
      height: 23px
    &.--active
      padding-bottom: 24px
      // border-bottom: none
      & > .mobile-menu__submenu
        display: flex
      & > .mobile-menu__item-title.--arr > .svg-icon
        transform: rotate(0)
        stroke: #C0C0C0
      & .mobile-menu__submenu__item.--active
        .mobile-menu__item-title.--arr > .svg-icon
          transform: rotate(0)

        .mobile-menu__submenu
          display: flex
    &-title
      color: $black700
      font-size: 20px
      font-weight: 600
      display: flex
      padding: 19px 30px 19px
      position: relative
      +r($sm)
        padding: 20px 16px 20px
      &.--arr
        & > .svg-icon
          position: absolute
          top: 23px
          right: 34px
          transform: rotate(-90deg)
          stroke: $black700
          transition: all linear .1s
  &__submenu
    display: none
    flex-direction: column
    gap: 18px
    padding: 0 30px
    +r($sm)
      margin-top: 2px
      padding: 0 16px
      gap: 12px
    .link-more
      font-size: 15px
      color: $orangeMain500
      font-weight: 400
      margin-left: auto
      margin-top: 2px
      display: none
    .mobile-menu__item-title
      padding-left: 28px
      &.--arr
        & > .svg-icon
          right: 17px
    &__item
      background: #F0F2F4
      border-radius: 10px
      &.--active
        .link-more
          display: inline-flex
        .arr-submenu
          display: none
    & .mobile-menu__submenu
      background: #F0F2F4
      display: none
      flex-direction: row
      flex-wrap: wrap
      font-size: 16px
      gap: 4px
      padding: 8px
      border-radius: 10px
      
      .mobile-menu__submenu__item
        flex: 1 1 auto
        display: inline-flex
        
        .mobile-menu__submenu__link
          display: block
          background: #fff
          padding: 14px 20px
          border-radius: 10px
          color: $black700
          flex: 1 1 auto
  &__footer
    padding: 34px 30px
    +r($sm)
      padding: 24px 16px 0
  .footer-support
    min-width: 100%
    width: auto
    padding: 35px 30px 0
    margin: 0 -30px
    border-top: 1px solid #D9D9D9
    &__title
      font-size: 16px
      color: #5C5C5C
    &__phone
      font-size: 28px
      a
        color: #424242

        
  .footer-local
    width: 100%
    font-size: 16px
    margin-bottom: 35px
    .link-address
      font-weight: 600
      font-size: 20px
      display: block
      color: inherit
  .footer-email
    width: 100%
    margin-bottom: 35px
    &__link
      a
        font-size: 20px
  .footer-socs
    border: none
    padding: 0
    margin: 0 0 35px
    justify-content: flex-start
    gap: 40px

  &__auth
    margin: 0 -16px
    
  &__registration
    padding: 24px 0
  &__user
    display: flex
    font-size: 16px
    color: $black600
    text-decoration: none
    border-top: 1px solid $black150
    &:hover
      background: $black25
    &-icon
      display: flex
      align-items: center
      justify-content: center
      width: 82px
      border-right: 1px solid $black150
      .icon-username
        stroke: $black700
    &-right
      height: 82px
      padding: 16px 20px
      display: flex
      flex-direction: column
      gap: 8px
      color: $black600
    .title
      font-weight: 600
      color: $black900
  &__logout
    color: #424242
    display: flex
    align-items: center
    justify-content: center
    width: 82px
    height: 82px
    margin-left: auto
    border-left: 1px solid $black150
    svg
      stroke: $black700
    
      

.mobile-modal
  position: absolute
  top: 47px
  left: 0
  bottom: 0
  width: 70%
  max-width: 495px
  background: #fff
  z-index: 1
  display: flex
  flex-direction: column
  +r($sm)
    width: 100%
  &__layout
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    z-index: 99
    display: none
    &.--show
      display: block
    &-bg
      background: rgba(0,0,0, .6)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &-wrapper
    padding: 40px 0 30px
    background: $baseBg
    margin-top: 140px
    +r($md)
      margin-top: 80px
