.header
  width: 100%
  padding: 9px 0 11px
  background: #fff
  position: relative
  z-index: 100
  margin-bottom: 24px
  max-height: 56px
  border-bottom: 1px solid #E5E5E5
  +r($xl)
    padding: 10px 0 11px
  +r($sm)
    position: sticky
    top: 0
    left: 0
    width: 100%
  .all
    display: flex
    align-items: center
    gap: 37px
    position: relative
    +r($sm)
      gap: 24px
    +r($xs)
      gap: 12px
      
  .logo
    display: flex
    align-items: center
    flex-shrink: 0
    margin-top: 0
    color: $orangeMain500
    &:hover
      color: #D9481C
    &:active
      color: #C03B12
    +r($xl)
      margin-top: 0
    svg
      height: 30px
      width: 127px
   
    
  .burger-menu
    display: none
    .--close
      display: none
    +r($xl)
      display: block
    &__btn.--menu-open
      .--open
        display: none
      .--close
        display: block
  .nav
    +r($xl)
      display: none
    ul
      display: flex
      align-items: center
      gap: 35px
      list-style: none
      margin: 0
      padding: 0
      +r($xxl)
        gap: 24px
    
    .nav-item
      display: inline-block
      padding: 0 0 20px
      margin: 0 0 -20px
      > a
        font-size: 16px
        font-weight: 400
        color: $black1000
        text-decoration: none
        transition: color $transitionSpeed $ease
        display: flex
        align-items: center
        gap: 8px
        padding: 8px 0
        position: relative
        &::before
          content: ""
          height: 3px
          width: 100%
          background: $orangeMain500
          display: block
          position: absolute
          top: calc(100% + 9px)
          left: 0
          transition: all 0.3s $ease
          opacity: 0
        &:hover, &.--active
          color: $black1000
          &::before
            opacity: 1
            top: calc(100% + 6px)
        
        &.link-arr
          .svg-icon
            width: 12px
            transition: transform $transitionSpeed $ease
            display: inline-block
            margin-left: 2px
            stroke: #C0C0C0
          // &:hover .svg-icon
            // transform: rotate(180deg)
            
      &:hover
        > a::before
          opacity: 1
          top: calc(100% + 6px)
        .submenu
          opacity: 1
          visibility: visible
          transform: translateY(0)
        
  
  .submenu
    position: absolute
    top: calc(100% + 9px)
    left: 0
    right: 0
    background: #fff
    border-radius: 10px
    border: 1px solid #D9D9D9
    box-shadow: 0px 4px 12px 0px #0000001A
    padding: 24px 32px
    min-width: 800px
    opacity: 0
    visibility: hidden
    transform: translateY(-10px)
    transition: all $transitionSpeed $ease
    z-index: 1000
    display: flex
    gap: 32px
    text-align: left
    
    +r($lg)
      display: none
    
    .col
      flex: 1 1 calc(33% - 28px)
      max-width: calc(33% - 28px)
      display: flex
      flex-direction: column
      gap: 56px
      padding-right: 20px
      &.--col3, &.--col4
        flex: 1 1 calc(16% - 28px)
        max-width: calc(16% - 28px)
        
    .submenu-title
      padding: 0 0 20px
      font-size: 20px
      font-weight: 600
      
      
      &__link
        color: $black700
        text-decoration: none
        display: flex
        align-items: center
        gap: 14px
        svg
          opacity: 1
          stroke: #D9D9D9
          transition: all $transitionSpeed ease
          transform: translateX(0px)
          position: relative
          top: 1px
        &:hover
          color: $black1000
          svg
            stroke: $orangeMain500
            transform: translateX(3px)
            
    .submenu-list
      list-style: none
      margin: 0
      padding: 0
      display: flex
      flex-direction: column
      gap: 14px
      align-items: flex-start
      letter-spacing: 0
      .submenu-item
        display: flex
        width: 100%
        padding: 5px 0
        &__col
          display: inline-block
          width: 50%
          vertical-align: top
          padding-right: 8px
        
        a
          font-size: 15px
          color: $black700
          text-decoration: none
          display: block
          &:hover
            color: $black1000
  
  &__phone
    border-left: 1px solid #D9D9D9
    padding-left: 40px
    font-size: 16px
    +r($xl)
      display: none
    a
      color: $black1000
      text-decoration: none
      white-space: nowrap
      transition: color $transitionSpeed $ease
      &:hover
        color: $black1000
  
  &__balance
    display: flex
    align-items: center
    gap: 16px
    flex-shrink: 0
    margin-left: auto
    margin-right: auto
    +r($xl)
      display: none
    &-btn
      +r($hd)
        display: none
      .btn
        // padding-top: 5px
        // padding-bottom: 5px
    &-amount
      font-size: 16px
      color: $black1000
      a
        color: inherit
  &__right
    display: flex
    align-items: center
    gap: 32px
    flex-shrink: 0
    +r($xl)
      margin-left: auto
    &.--no-auth
      margin-left: auto
      gap: 20px
  &__notice
    width: 56px
    text-align: center
    color: $black700
    position: relative
    margin-bottom: -20px
    padding-bottom: 20px
    &::after
      content: ""
      height: 3px
      width: 100%
      background: $orangeMain500
      display: block
      position: absolute
      top: calc(100% - 3px)
      left: 0
      transition: all 0.3s $ease
      opacity: 0
    &:hover
      &::after
        top: calc(100% - 7px)
        opacity: 1
      .header__notice-float
        opacity: 1
        visibility: visible
    &.active
      +r($lg + 1)
        &::after
          display: none
        .link-notice
          &::before
            display: none
          .svg-icon
            display: none
            &.--close
              display: block
    svg
      stroke: currentColor
    .link-notice
      color: $black700
      display: inline-block
      vertical-align: top
      position: relative
      .svg-icon.--close
        display: none
      &.--no-notice
        stroke: $black250
        color: $black250
      
      &.--new-notice
        color: $black700
        stroke: $black700
        
        &::before
          content: ""
          width: 8px
          height: 8px
          position: absolute
          top: 1px
          right: 3px
          background: $orangeMain500
          border-radius: 50%
      
    &-float
      background: #fff
      box-shadow: 0 4px 12px 0 #0000001A
      border: 1px solid #D9D9D9
      border-radius: 10px
      width: 396px
      padding: 7px
      position: absolute
      top: calc(100% - 4px)
      left: calc(50% - 198px)
      display: flex
      max-height: 70vh
      overflow: hidden
      opacity: 0
      visibility: hidden
      +r($lg)
        display: none
    
    
      
  &__lk
    display: flex
    align-items: center
    font-size: 16px
    font-weight: 500
    color: $black1000
    text-decoration: none
    position: relative
    padding-bottom: 20px
    margin-bottom: -20px
    +r($lg)
      font-size: 14px
      gap: 6px
    +r($sm)
      font-size: 12px
      max-width: 65px
    &:hover
      .header__lk-menu
        visibility: visible
        opacity: 1
      .header__lk-link
        color: $black1000
        &::before
          opacity: 1
          top: calc(100% - 6px)
    &-link
      gap: 8px
      display: flex
      align-items: center
      color: $black1000
      
      &::before
        content: ""
        height: 3px
        width: 100%
        background: $orangeMain500
        display: block
        position: absolute
        top: calc(100% - 3px)
        left: 0
        transition: all 0.3s $ease
        opacity: 0
        +r($lg + 1)
          display: none
      
    &-user
      display: flex
      margin-bottom: 25px
      &__info
        flex: 1 1 auto
        &-link
          color: $black700
          font-size: 15px
          strong
            display: block
            color: $black900
            font-size: 16px
            margin-bottom: 2px
            overflow: hidden
            max-width: 200px
          &:hover
            color: currentColor
      &__logout
        padding-top: 8px
        display: block
        a
          color: $black400
          &:hover
            color: $black1000
          svg
            stroke: currentColor
        &:hover
          color: $black1000
    &-menu
      background: #fff
      box-shadow: 0 4px 12px 0 #0000001A
      border: 1px solid #D9D9D9
      border-radius: 10px
      width: 284px
      padding: 34px 39px
      position: absolute
      top: calc(100% - 3px)
      right: 0
      visibility: hidden
      opacity: 0
      +r($xl)
        display: none
      &-list
        display: flex
        flex-direction: column
        gap: 8px
      &__item
        display: block
      &__link
        display: flex
        gap: 12px
        padding: 12px 0 10px
        border-radius: 10px
        color: $black700
        text-decoration: none
        font-size: 16px
        font-weight: 400
        transition: all $transitionSpeed $ease
        position: relative
        +r($hd)
          font-size: 15px
        +r($xl)
          display: flex
          flex-direction: column
          align-items: flex-start
          gap: 8px
          font-size: 11px
        .num
          display: inline-flex
          align-items: center
          justify-content: center
          background: $orangeMain500
          border-radius: 4px
          color: #fff
          line-height: 1
          font-size: 12px
          font-weight: 600
          min-width: 20px
          margin-left: auto
          margin-top: -2px
          
        &-label
          display: flex
          align-items: center
        .svg-icon
          width: 20px
          height: 20px
          flex-shrink: 0
          fill: none
          stroke: currentColor
          margin-top: 0
          &.icon-ic-menu-lk
            fill: none
          +r($xl)
            width: 24px
            height: 24px
        
        img
          width: 20px
          height: 20px
          flex-shrink: 0
          object-fit: contain
          margin-top: 3px
        span:not(.aside-nav__badge)
          flex: 1 1 auto
        
        &:hover
          background: #fff
          color: $black1000
          
          
    

    
      
    // .svg-icon
      width: 20px
      height: 20px
      fill: currentColor
    
    // &:hover
      color: $orangeMain500
