<footer class="footer">
  <div class="all">
    <div class="footer-left">
      <ul class="footer-nav">
        <li><a href="">Поддержка</a></li>
        <li><a href="">Блог</a></li>
        <li><a href="">Инструкции</a></li>
        <li><a href="">О компании</a></li>
        <li><a href="">Отзывы</a></li>
        <li><a href="">Акции</a></li>
        <li><a href="">Написать директору</a></li>
      </ul>
      <div class="footer-submenu">
        <div class="col --col1">
          <div class="footer-submenu__box">
            <div class="submenu-title">
              <a class="submenu-title__link" href="#">
                <span class="submenu-title__link-label">1С Онлайн</span>
                <svg class="svg-icon">
                  <use xlink:href="#icon-next-go"></use>
                </svg>
              </a>
            </div>
            <ul class="submenu-list">
              <li class="submenu-item">
                <div class="submenu-item__col">
                  <a href="#">Облачная 1С</a>
                </div>
                <div class="submenu-item__col">
                  <a href="#">1C облако что это?</a>
                </div>
              </li>
              <li class="submenu-item"><a href="#">Для бухгалтеров и бухгалтерских компаний</a></li>
              <li class="submenu-item"><a href="#">1C Онлайн – сервис для Предпринимателей</a></li>
              <li class="submenu-item"><a href="#">Удаленная работа в 1С</a></li>
              <li class="submenu-item"><a href="#">Аренда 1С</a></li>
              <li class="submenu-item"><a href="#">ИТС</a></li>
              <li class="submenu-item"><a href="#">Тарифы 1С онлайн</a></li>
            </ul>
          </div>
          <div class="footer-submenu__box">
            <div class="submenu-title">
              <a class="submenu-title__link" href="#">
                <span class="submenu-title__link-label">Услуги+</span>
                <svg class="svg-icon">
                  <use xlink:href="#icon-next-go"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col --col2">
          <div class="footer-submenu__box">
            <div class="submenu-title">
              <a class="submenu-title__link" href="#">
                <span class="submenu-title__link-label">Купить 1С</span>
                <svg class="svg-icon ">
                  <use xlink:href="#icon-next-go"></use>
                </svg>
              </a>
            </div>
            <ul class="submenu-list">
              <li class="submenu-item"><a href="#">1С Аптека для Казахстана
              </a></li>
              <li class="submenu-item"><a href="#">1С Бухгалтерия для Казахстана</a></li>
              <li class="submenu-item"><a href="#">1С Управление торговлей для Казахстана</a></li>
              <li class="submenu-item"><a href="#">1С Управление торговым предприятием
                для Казахстана</a></li>
              <li class="submenu-item"><a href="#">1С Бухгалтерия сельскохозяйственного
                предприятия
              </a></li>
              <li class="submenu-item"><a href="#">1С Комплексная автоматизация</a></li>
              <li class="submenu-item"><a href="#">1С Управление нашей фирмой</a></li>
              <li class="submenu-item"><a href="#">1С Зарплата и Управление Персоналом</a></li>
              <li class="submenu-item"><a href="#">1С Документооборот</a></li>
              <li class="submenu-item"><a href="#">1С Розница</a></li>
            
            </ul>
          </div>
        </div>
        <div class="col --col3">
          <div class="footer-submenu__box">
            <div class="submenu-title">
              <a class="submenu-title__link" href="#">
                <span class="submenu-title__link-label">1С Фреш</span>
                <svg class="svg-icon">
                  <use xlink:href="#icon-next-go"></use>
                </svg>
              </a>
            </div>
            <ul class="submenu-list">
              <li class="submenu-item"><a href="#">1С: Фреш для
                конфигураций</a></li>
              <li class="submenu-item"><a href="#">1С: Бухгалтерия
                ОСИ, ПТ, УК, СК, КСК
                для Казахстана</a></li>
              <li class="submenu-item"><a href="#">1С: Управление
                нашей фирмой для
                Казахстана</a></li>
              <li class="submenu-item"><a href="#">1С: Фреш Кассир</a></li>
            </ul>
          </div>
          <div class="footer-submenu__box">
            <div class="submenu-title">
              <a class="submenu-title__link" href="#">
                <span class="submenu-title__link-label">1С Хостинг</span>
                <svg class="svg-icon">
                  <use xlink:href="#icon-next-go"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="footer-submenu__box">
            <div class="submenu-title">
              <a class="submenu-title__link" href="#">
                <span class="submenu-title__link-label">1С Сервер</span>
                <svg class="svg-icon">
                  <use xlink:href="#icon-next-go"></use>
                </svg>
              </a>
            </div>
            <ul class="submenu-list">
              <li class="submenu-item"><a href="#">Аренда тарифы</a></li>
              <li class="submenu-item"><a href="#">1С Бухгалтерия для Казахстана</a></li>
              <li class="submenu-item"><a href="#">1С Сервер на Linux c PostgreSQL</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-support">
        <div class="footer-support__title">
          Служба поддержки пользователей:
        </div>
        <div class="footer-support__phone">
          
          <svg class="svg-icon ic20">
            <use xlink:href="#icon-i-phone"></use>
          </svg>
          <a href="tel:+7 747 150-40-81">+7 747 150-40-81</a>
        </div>
        <div class="footer-support__btn">
          <a href="#" class="btn --outline --full">Поддержка</a>
        </div>
      </div><!--end footer-support -->
      <div class="footer-local">
        100024, Казахстан Караганда
        <strong>
          <svg class="svg-icon ic20">
            <use xlink:href="#icon-i-addr"></use>
          </svg>
          мкр. Степной-2, стр. 6/1,</strong>
        офис 200
      </div>
      <div class="footer-email">
        <div class="footer-email__title">По всем вопросам:</div>
        <div class="footer-email__link">
          <a href="#">
            <svg class="svg-icon ic20">
              <use xlink:href="#icon-i-mail"></use>
            </svg>
            info@itsheff.kz</a>
        </div>
      </div><!--end footer-email -->
      <ul class="footer-socs">
        <li><a href="#">
          <svg class="svg-icon">
            <use xlink:href="#icon-soc-fb"></use>
          </svg>
        </a></li>
        <li><a href="#">
          <svg class="svg-icon">
            <use xlink:href="#icon-soc-in"></use>
          </svg>
        </a></li>
        <li><a href="#">
          <svg class="svg-icon">
            <use xlink:href="#icon-soc-lin"></use>
          </svg>
        </a></li>
        <li><a href="#">
          <svg class="svg-icon">
            <use xlink:href="#icon-soc-you"></use>
          </svg>
        </a></li>
      </ul>
    </div><!--end footer-right -->
  </div>
  <div class="footer-bottom">
    <div class="all">
      <div class="footer-bottom__left">
        <a href="#" class="footer-bottom__logo">
          <svg class="svg-icon logo-foot">
            <use xlink:href="#icon-logo"></use>
          </svg>
        
        </a>
        <div class="footer-bottom__copyright">© 2011-2024 ITSheff. <span>Все права защищены</span></div>
      </div>
      <div class="footer-bottom__right">
        <div class="footer-bottom__1">
          <a href="#" class="footer-bottom__link">Соглашение публичной оферты ТОО "ITsheff.kz"</a>
        </div>
        <div class="footer-bottom__2">
          <a href="#" class="footer-bottom__link">Соглашение публичной оферты ИП SAAS</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<%= mobileFooter %>
<%= mobileToolbar %>
<%= mobileMenu %>
<%= mobileNotice %>


<div class="just-modal " id="modal1">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__header">
          <div class="just-modal-title h2-title">Сменить реквизиты</div>
          <div class="just-modal-subtitle">Субъект</div>
        </div>
        <div class="just-modal__content">
          <div class="modal-documents">
            <div class="modal-documents__progress">
              <div class="progress-steps">
                <div class="progress-steps__step --active">
                  <div class="progress-steps__step-label">Субъект</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Юр.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Факт.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Директор и рекв.</div>
                </div>
              </div><!--end progress-steps -->
            </div><!--end modal-documents__progress-->
          </div><!--end modal-documents -->
          <div class="tabs-wrapper js-tabs-wrapper">
            <ul class="tabs-list js-tabs">
              <li class="tabs-list__item js-tab-item active"><span class="toggle-btn">Юрлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">Физлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">ИП</span></li>
            </ul>
            <div class="tab-box js-tab-box --show">
              <div class="just-modal-form">
                <div class="just-modal-form__body">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          БИН<span class="red">*</span>
                          <span class="vop">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-question"></use>
                          </svg>
                        </span>
                        </label>
                        <div class="form-field__input">
                          <div class="input input-box">
                            <div class="input-box__input">
                              <input type="text" class="input">
                            </div>
                            <div class="input-box__action">
                              <button class="btn">Проверить</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ФИО<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="alert-box --yellow">
                        <div class="alert-box__title">Внимание!</div>
                        <div class="alert-box__text">
                          Просьба указывать корректные реквизиты компании, для выписки бухгалтерских документов!
                        </div>
                      </div><!--end message-box -->
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --auto --big">Далее</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              
              
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              <div class="just-modal-form">
                <div class="just-modal-form__body">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ФИО<span class="red">*</span>
                          <span class="vop">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-question"></use>
                          </svg>
                        </span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ИНН<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="alert-box --yellow">
                        <div class="alert-box__title">Внимание!</div>
                        <div class="alert-box__text">
                          Просьба указывать корректные реквизиты компании, для выписки бухгалтерских документов!
                        </div>
                      </div><!--end message-box -->
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --auto --big">Сохранить</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              3
            </div>
          </div>
        </div><!-- end just-modal__content -->
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="just-modal " id="modal2">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__header">
          <div class="just-modal-title h2-title">Сменить реквизиты</div>
          <div class="just-modal-subtitle">Субъект</div>
        </div>
        <div class="just-modal__content">
          <div class="modal-documents">
            <div class="modal-documents__progress">
              <div class="progress-steps">
                <div class="progress-steps__step --active">
                  <div class="progress-steps__step-label">Субъект</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Юр.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Факт.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Директор и рекв.</div>
                </div>
              </div><!--end progress-steps -->
            </div><!--end modal-documents__progress-->
          </div><!--end modal-documents -->
          <div class="tabs-wrapper js-tabs-wrapper">
            <ul class="tabs-list js-tabs" style="display: none">
              <li class="tabs-list__item js-tab-item active"><span class="toggle-btn">Юрлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">Физлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">ИП</span></li>
            </ul>
            <div class="tab-box js-tab-box --show">
              <div class="just-modal-form">
                <div class="just-modal-form__body">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__h2">Юридический адрес</div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Страна<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Населенный пункт<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Область<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Индекс<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Район<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Улица<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Город<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__row">
                        <div class="just-modal-form__col just__sm-col6">
                          <div class="just-modal-form__field form-field --m">
                            <label class="form-field__label">
                              Дом<span class="red">*</span>
                            </label>
                            <div class="form-field__input">
                              <input type="text" class="input">
                            </div>
                          </div>
                        </div>
                        <div class="just-modal-form__col just__sm-col6">
                          <div class="just-modal-form__field form-field --m">
                            <label class="form-field__label">
                              Кв/офис<span class="red">*</span>
                            </label>
                            <div class="form-field__input">
                              <input type="text" class="input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                  
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --auto --big">Далее</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              
              
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              <div class="just-modal-form">
                <div class="just-modal-form__body">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ФИО<span class="red">*</span>
                          <span class="vop">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-question"></use>
                          </svg>
                        </span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ИНН<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="alert-box --yellow">
                        <div class="alert-box__title">Внимание!</div>
                        <div class="alert-box__text">
                          Просьба указывать корректные реквизиты компании, для выписки бухгалтерских документов!
                        </div>
                      </div><!--end message-box -->
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --auto --big">Сохранить</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              3
            </div>
          </div>
        </div><!-- end just-modal__content -->
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="just-modal " id="modal3">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__header">
          <div class="just-modal-title h2-title">Сменить реквизиты</div>
          <div class="just-modal-subtitle">Фактический адрес</div>
        </div>
        <div class="just-modal__content">
          <div class="modal-documents">
            <div class="modal-documents__progress">
              <div class="progress-steps">
                <div class="progress-steps__step --active">
                  <div class="progress-steps__step-label">Субъект</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Юр.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Факт.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Директор и рекв.</div>
                </div>
              </div><!--end progress-steps -->
            </div><!--end modal-documents__progress-->
          </div><!--end modal-documents -->
          <div class="tabs-wrapper js-tabs-wrapper">
            <ul class="tabs-list js-tabs" style="display: none">
              <li class="tabs-list__item js-tab-item active"><span class="toggle-btn">Юрлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">Физлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">ИП</span></li>
            </ul>
            <div class="tab-box js-tab-box --show">
              <div class="just-modal-form">
                <div class="just-modal-form__body ">
                  
                  <div class="just-modal-form__row --section">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__h2 mb-20">Фактический адрес совпадает с юридическим?</div>
                      <div class="toggle-btns-box">
                        <button class="toggle-btn --active">Совпадает</button>
                        <button class="toggle-btn">Нет</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__h2">Фактический адрес</div>
                    
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Страна<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Населенный пункт<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Область<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Индекс<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Район<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Улица<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__field form-field --m">
                        <label class="form-field__label">
                          Город<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input --input-m">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                    <div class="just-modal-form__col just__sm-col6">
                      <div class="just-modal-form__row">
                        <div class="just-modal-form__col just__sm-col6">
                          <div class="just-modal-form__field form-field --m">
                            <label class="form-field__label">
                              Дом<span class="red">*</span>
                            </label>
                            <div class="form-field__input">
                              <input type="text" class="input">
                            </div>
                          </div>
                        </div>
                        <div class="just-modal-form__col just__sm-col6">
                          <div class="just-modal-form__field form-field --m">
                            <label class="form-field__label">
                              Кв/офис<span class="red">*</span>
                            </label>
                            <div class="form-field__input">
                              <input type="text" class="input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__sm-col6 -->
                  
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --outline --big --icon">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-arr-l"></use>
                          </svg>
                        </button>
                        <button class="btn --auto --big">Далее</button>
                      </div>
                    
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              
              
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              <div class="just-modal-form">
                <div class="just-modal-form__body">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ФИО<span class="red">*</span>
                          <span class="vop">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-question"></use>
                          </svg>
                        </span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ИНН<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="alert-box --yellow">
                        <div class="alert-box__title">Внимание!</div>
                        <div class="alert-box__text">
                          Просьба указывать корректные реквизиты компании, для выписки бухгалтерских документов!
                        </div>
                      </div><!--end message-box -->
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --auto --big">Далее</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              3
            </div>
          </div>
        </div><!-- end just-modal__content -->
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="just-modal" id="modal4">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__header">
          <div class="just-modal-title h2-title">Сменить реквизиты</div>
          <div class="just-modal-subtitle">Директор и реквизиты</div>
        </div>
        <div class="just-modal__content">
          <div class="modal-documents">
            <div class="modal-documents__progress">
              <div class="progress-steps">
                <div class="progress-steps__step --active">
                  <div class="progress-steps__step-label">Субъект</div>
                </div>
                <div class="progress-steps__step --active">
                  <div class="progress-steps__step-label">Юр.адрес</div>
                </div>
                <div class="progress-steps__step --active">
                  <div class="progress-steps__step-label">Факт.адрес</div>
                </div>
                <div class="progress-steps__step">
                  <div class="progress-steps__step-label">Директор и рекв.</div>
                </div>
              </div><!--end progress-steps -->
            </div><!--end modal-documents__progress-->
          </div><!--end modal-documents -->
          <div class="tabs-wrapper js-tabs-wrapper">
            <ul class="tabs-list js-tabs" style="display: none">
              <li class="tabs-list__item js-tab-item active"><span class="toggle-btn">Юрлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">Физлицо</span></li>
              <li class="tabs-list__item js-tab-item"><span class="toggle-btn">ИП</span></li>
            </ul>
            <div class="tab-box js-tab-box --show">
              <div class="just-modal-form">
                <div class="just-modal-form__body --form-l">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ФИО директора<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div><!--end just-modal-form__col just__col12 -->
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col4">
                      <div class="just-modal-form__field form-field ">
                        <label class="form-field__label">
                          БИН<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                    <div class="just-modal-form__col just__col8">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ИИК<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                
                
                </div>
                <div class="just-modal-form__bottom">
                  
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --outline --big --icon">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-arr-l"></use>
                          </svg>
                        </button>
                        <button class="btn --auto --big">Сохранить</button>
                      </div>
                    
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              
              
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              <div class="just-modal-form">
                <div class="just-modal-form__body">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ФИО<span class="red">*</span>
                          <span class="vop">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-question"></use>
                          </svg>
                        </span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="just-modal-form__field form-field">
                        <label class="form-field__label">
                          ИНН<span class="red">*</span>
                        </label>
                        <div class="form-field__input">
                          <input type="text" class="input">
                        </div>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
                <div class="just-modal-form__bottom">
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="alert-box --yellow">
                        <div class="alert-box__title">Внимание!</div>
                        <div class="alert-box__text">
                          Просьба указывать корректные реквизиты компании, для выписки бухгалтерских документов!
                        </div>
                      </div><!--end message-box -->
                    </div>
                  </div><!-- end just-modal-form__row -->
                  <div class="just-modal-form__row">
                    <div class="just-modal-form__col just__col12">
                      <div class="form-bottom-btns">
                        <button class="btn --auto --big">Далее</button>
                      </div>
                    </div>
                  </div><!-- end just-modal-form__row -->
                </div>
              </div><!--end just-modal-form -->
            </div>
            <div class="tab-box js-tab-box">
              3
            </div>
          </div>
        </div><!-- end just-modal__content -->
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="just-modal" id="modal5">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__header">
          <div class="just-modal-title h2-title">Перейти на платный тариф</div>
          <div class="just-modal-subtitle">Юридическое лицо</div>
        </div>
        <div class="just-modal__content">
          <div class="modal-success-box">
            <div class="modal-success-box__header">
              <div class="modal-success-box__icon">
                <svg class="svg-icon">
                  <use xlink:href="#icon-success-ok"></use>
                </svg>
              </div>
              <div class="status-text">Готово</div>
            </div>
            <div class="modal-success-box__content">
              Текст об успешном переходе на платный тариф, ждите счет на оплату <strong>12.12.25</strong>
            </div>
          </div>
          <div class="just-modal-form__bottom">
            <div class="just-modal-form__row">
              <div class="just-modal-form__col just__col12">
                <div class="form-bottom-btns">
                  <button class="btn --full --big">Закрыть</button>
                </div>
              
              </div>
            </div><!-- end just-modal-form__row -->
          </div>
        </div><!-- end just-modal__content -->
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="just-modal modal-small" id="modal6">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__content">
          <div class="modal-cancel-subscribe">
            <div class="modal-cancel-subscribe__title">
              Отменить подписку?
            </div>
            <div class="modal-cancel-subscribe__text">
              Сопроводительный короткий текст <br>
              можно в две строки
            </div>
          </div><!--end modal-cancel-subscribe -->
          <div class="just-modal-form__bottom">
            <div class="just-modal-form__row">
              <div class="just-modal-form__col just__col12">
                <div class="form-bottom-btns">
                  <button class="btn --link --full --big">Отменить подписку</button>
                </div>
              </div>
            </div><!-- end just-modal-form__row -->
            <div class="just-modal-form__row">
              <div class="just-modal-form__col just__col12">
                <div class="form-bottom-btns">
                  <button class="btn --full --big">Назад</button>
                </div>
              
              </div>
            </div><!-- end just-modal-form__row -->
          </div>
        </div><!-- end just-modal__content -->
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="just-modal" id="modal-support">
  <div class="just-modal__wrapper">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__container">
      <div class="just-modal__body">
        <div class="just-modal__header">
          <div class="just-modal-title h2-title">служба поддержки</div>
          <div class="just-modal-subtitle">Опишите вашу проблему.</div>
        </div>
        <div class="just-modal-form">
          <div class="just-modal-form__row">
            <label class="label">Имя</label>
            <input class="input" type="text">
          </div>
          <div class="just-modal-form__row">
            <label class="label">E-mail</label>
            <input class="input" type="text">
          </div>
          <div class="just-modal-form__row">
            <label class="label">Ваша проблема</label>
            <textarea class="textarea"></textarea>
          </div>
          <div class="just-modal-form__row pb-32">
            <div class="b-checkbox">
              <input type="checkbox" id="fff">
              <label class="b-checkbox__label" for="fff"><span class="checked">
                        <svg class="svg-icon svg-icon--check">
                          <use xlink:href="#icon-check"></use>
                        </svg>
                  </span>
                <span class="b-checkbox__text">Согласен на <a href="#">обработку персональных данных</a></span></label>
            </div>
          </div>
          
          <div class="just-modal-form__row">
            <button class="btn btn--full" type="submit">Отправить</button>
          </div>
        </div>
      </div>
      <div class="just-modal__close-wrapper">
        <button class="just-modal__close js-just-modal__close" type="button">
          <svg class="svg-icon svg-icon--close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
