<%
var data = {
title: "Заголовок сайта",
copyright: "itJustAlance"
};

var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);
var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);
var mobileToolbar = _.template(require('../includes/mobile-toolbar.html'))(data);
var mobileNotice = _.template(require('../includes/mobile-notice.html'))(data);

var footerHtml = _.template(require('../includes/footer.html'))({
...data,
mobileFooter,
mobileMenu,
mobileToolbar,
mobileNotice
});

var asideLeftHtml = _.template(require('../includes/aside-left.html'))();

%>

<div class="over">
  <%= _.template(require('../includes/header.html'))(data) %>
  <div class="container">
    <div class="all container-main --align-none">
      <div class="content-wrapper">
        <main class="content">
          <div class="title-page-box">
            <div class="title-page-box__title">Мои базы данных</div>
            <div class="title-page-box__right">
              <a href="#" class="btn">
                <svg class="svg-icon ic16 --stroke sm-hidden">
                  <use xlink:href="#icon-ic-plus"></use>
                </svg>
                Добавить базу
              </a>
            </div>
          </div><!--end title-page-box-->
          <div class="main-section-list">
            <section class="section-box">
              <div class="section-box__header">
                <div class="section-box__header-toggler-title">
                  <div class="section-box__header-title">
                    <div class="section-box__header-title-text h2-title">Название БД №1</div>
                    <div class="section-box__header-subtitle-text"><div class="b-label">Серверный тип</div> <div class="b-label-text">dev-group-ka : pwpjvav_avtocenter_test</div></div>
                  </div>
                  <div class="section-box__header-actions">
                    <div class="progress-box">
                      <div class="progress-box__label">1.8 из 5 ГБ</div>
                      <div class="progress-box__progress">
                        <div style="width: 23%" class="progress-box__progress-bar"></div>
                      </div>
                    </div>
                    <div class="section-box__header-actions__btn">
                      <button class="section-box__togggler-btn --active">
                        <svg class="svg-icon ic28">
                          <use xlink:href="#icon-picker"></use>
                        </svg>
                      </button>
                    </div>
                  </div><!--end section-box__header-actions-->
                </div><!--end section-box__header-toggler-title -->
              </div><!--end section-box__header-->
              <div class="section-box__body">
                <div class="panel-bd-box">
                  <div class="panel-bd">
                    <div class="panel-bd__list">
                      <button class="btn --link">
                        <svg class="svg-icon ic20">
                          <use xlink:href="#icon-rename"></use>
                        </svg>
                        Переименовать
                      </button>
                      <button class="btn --link">
                        <svg class="svg-icon ic20">
                          <use xlink:href="#icon-update-refresh"></use>
                        </svg>
                        <span class="btn__label">
                        Обновить <span class="opacity-75">(авто)</span>
                      </span>
                      </button>
                      <button class="btn --link">
                        <svg class="svg-icon ic20 --stroke">
                          <use xlink:href="#icon-users-profiles-variant"></use>
                        </svg>
                        Доступ
                      </button>
                      <button class="btn --link">
                        <svg class="svg-icon ic20">
                          <use xlink:href="#icon-databases-DB"></use>
                        </svg>
                        Архив
                      </button>
                      <button class="btn --link">
                        <svg class="svg-icon ic20">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                        Удалить
                      </button>
                      <button class="btn --link">
                        <svg class="svg-icon ic20">
                          <use xlink:href="#icon-cloud-download"></use>
                        </svg>
                        Скачать
                      </button>
                    </div>
                    <div class="panel-bd__btn">
                      <button class="btn --outline">Открыть</button>
                    </div>
                  </div><!-- end panel-bd -->
                </div><!--end panel-bd-box -->
              
              </div>
            </section>
          </div><!--end main-section-list -->
        
        </main>
        <section class="content">
          <div class="title-page-box">
            <div class="title-page-box__title">Возможно, вам пригодятся следующие услуги:</div>
          </div><!--end title-page-box-->
          <div class="bd-infograph-list">
            <div class="bd-infograph__item">
              <div class="bd-infograph__item-wrapper">
                <div class="img"><img src="img/bd1.png" alt=""></div>
                <div class="bd-infograph__item-title-box">
                  <a href="#" class="title">Первоначальная настройка</a>
                  <div class="subtitle">Дополнительный текст об услуге кратко или в пару строку. Можно уместить в одну строчку.</div>
                </div>
                <div class="bd-infograph__item-bottom">
                  <div class="price"><div class="price-val">4800 ₸</div></div>
                  <div class="b-btn">
                    <a href="#" class="btn --outline">Заказать</a>
                  </div>
                </div>
              </div>
            </div><!--end bd-infograph__item-->
            <div class="bd-infograph__item">
              <div class="bd-infograph__item-wrapper">
                <div class="img"><img src="img/bd2.png" alt=""></div>
                <div class="bd-infograph__item-title-box">
                  <a href="#" class="title">Настройка налоговой отчетности</a>
                  <div class="subtitle">Базовый подзаголовок в две и более строки</div>
                </div>
                <div class="bd-infograph__item-bottom">
                  <div class="price"><div class="price-val">4800 ₸</div></div>
                  <div class="b-btn"><a href="#" class="btn --outline">Заказать</a></div>
                </div>
              </div>
            </div><!--end bd-infograph__item-->
            <div class="bd-infograph__item">
              <div class="bd-infograph__item-wrapper">
                <div class="img"><img src="img/bd3.png" alt=""></div>
                <div class="bd-infograph__item-title-box">
                  <a href="#" class="title">Сервис 1С ЭСФ</a>
                  <div class="subtitle">Базовый подзаголовок в две и более строки</div>
                </div>
                <div class="bd-infograph__item-bottom">
                  <div class="price"><div class="price-val">4800 ₸</div><div class="price-info">Условия в месяц</div></div>
                  <div class="b-btn"><a href="#" class="btn --outline">Заказать</a></div>
                </div>
              </div>
            </div><!--end bd-infograph__item-->
          </div>
          
        </section>
      </div>
      
      <%= asideLeftHtml %>
    
    
    </div><!--end all -->
    
    <!-- br><br>
    <div class="btns">
      <a class="btn js-btn-modal" href="#" data-modal="modal-support">Модальное окно</a>
    </div>
    <br><br>
    <pre>
      для запуска модального окна,
      добавляем класс "js-btn-modal"
      для указания id модального окна пишем аттрибут data-modal="modal-support"
      &#706;a class="js-btn-modal" href="#" data-modal="modal-support"&#707;Модальное окно&#706;/a&#707;
    </pre>
    Контент. -->
  </div>
  <%= footerHtml %>
</div>
