<%
var data = {
title: "Заголовок сайта",
copyright: "itJustAlance"
};

var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);
var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);
var mobileToolbar = _.template(require('../includes/mobile-toolbar.html'))(data);
var mobileNotice = _.template(require('../includes/mobile-notice.html'))(data);

var footerHtml = _.template(require('../includes/footer.html'))({
...data,
mobileFooter,
mobileMenu,
mobileToolbar,
mobileNotice
});

var asideLeftHtml = _.template(require('../includes/aside-left.html'))();

%>

<div class="over">
  <%= _.template(require('../includes/header.html'))(data) %>
  <div class="container">
    <div class="all container-main  --align-none">
      <div class="content-wrapper">
        <main class="content">
          <div class="section-documents">
            <div class="tabs-block">
              <div class="tabs-block__header">
                <ul class="tab-list">
                  <li class="tab-item --active"><span class="tab-item__label">Счета и документы</span><span
                          class="tab-item__num">3</span></li>
                  <li class="tab-item"><span class="tab-item__label">Акт сверки взаиморасчетов</span></li>
                  <li class="tab-item"><span class="tab-item__label">Ваши реквизиты</span></li>
                </ul>
              </div>
              
              <div class="tabs-block__body">
                <div class="tab-accordion-mobile --active"><span class="tab-accordion-mobile__label">Счета и документы</span></div>
                <div class="tab-box --show">
                  <div class="document-no">
                    <div class="document-no__title">Счета и документы отсутствуют</div>
                    <div class="document-no__text">Если у вас остались вопросы, пожалуйста, <a href="#">свяжитесь с нами</a></div>
                  </div>
                </div><!--end tab-box -->
                <div class="tab-accordion-mobile"><span class="tab-accordion-mobile__label">Акт сверки взаиморасчетов</span></div>
                <div class="tab-box">
                  контент 2
                  <div class="pagination-box --right lg-hidden">
                    <ul class="pagination-list">
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link --active">1</a></li>
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link">2</a></li>
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link">3</a></li>
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link">4</a></li>
                    </ul>
                  </div>
                </div><!--end tab-box -->
                <div class="tab-accordion-mobile"><span class="tab-accordion-mobile__label">Ваши реквизиты</span></div>
                <div class="tab-box">
                  контент 3
                  <div class="pagination-box --right lg-hidden">
                    <ul class="pagination-list">
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link --active">1</a></li>
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link">2</a></li>
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link">3</a></li>
                      <li class="pagination-list__item"><a href="#" class="pagination-list__item-link">4</a></li>
                    </ul>
                  </div>
                </div><!--end tab-box -->
              </div><!--end tabs-block__body -->
            </div><!--end tabs-block-->
          </div><!--end section-documents -->
        
        
        </main>
      </div>
      
      <%= asideLeftHtml %>
    
    
    </div><!--end all -->
    
    <!-- br><br>
    <div class="btns">
      <a class="btn js-btn-modal" href="#" data-modal="modal-support">Модальное окно</a>
    </div>
    <br><br>
    <pre>
      для запуска модального окна,
      добавляем класс "js-btn-modal"
      для указания id модального окна пишем аттрибут data-modal="modal-support"
      &#706;a class="js-btn-modal" href="#" data-modal="modal-support"&#707;Модальное окно&#706;/a&#707;
    </pre>
    Контент. -->
  </div>
  <%= footerHtml %>
</div>
