<%
var data = {
title: "Заголовок сайта",
copyright: "itJustAlance"
};

var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);
var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);
var mobileToolbar = _.template(require('../includes/mobile-toolbar.html'))(data);
var mobileNotice = _.template(require('../includes/mobile-notice.html'))(data);

var footerHtml = _.template(require('../includes/footer.html'))({
...data,
mobileFooter,
mobileMenu,
mobileToolbar,
mobileNotice
});

var asideLeftHtml = _.template(require('../includes/aside-left.html'))();

%>

<style>
    .bbox-list {gap: 40px; display: flex; flex-direction: column}
    .bbox-item {width: 100%; margin: 30px 0}
    .bbox-item__title {font-weight: 600; margin-bottom: 15px;}
    .m-list {display: flex; flex-direction: column; gap: 16px; margin-bottom: 48px;}
</style>

<div class="over">
  <%= _.template(require('../includes/header.html'))(data) %>
<div class="container">
  <div class="all container-main">
    <div class="content-wrapper">
      <div class="mobile-banners">
        <div class="aside-box --banner --congrats">
          <div class="aside-box__image">
            <img class="img-desktop" style="margin-top: -6px;" src="img/info1.png" alt="">
            <img class="img-mobile" src="img/info1-mob.png" alt="">
          </div>
          <div class="aside-box__body">
            <div class="aside-box__title">Поздравляем!</div>
            <div class="aside-box__content">
              <p class="desc-text">Мы активировали платный тариф в подарок</p>
              <div class="aside-box__days"><span class="day">14</span> <span class="text">дней<br>осталось</span></div>
              <button class="btn --outline --full">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="aside-box --banner">
          <div class="aside-box__image">
            <img class="img-desktop" style="margin-top: -10px;" src="img/info2.png" alt="">
            <img class="img-mobile" src="img/info2-mob.png" alt="">
          </div>
          <div class="aside-box__body">
            <div class="aside-box__title">Пора переходить
              на тариф</div>
            <div class="aside-box__content">
              
              <button class="btn --full">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    <main class="content">
      <ul class="m-list">
        <li><a href="main.html">Главная</a></li>
        <li><a href="documents.html">Документы - Счета и документы</a></li>
        <li><a href="documents-clear.html">Документы - Счета и документы - пусто</a></li>
        <li><a href="documents-act.html">Документы - Акт сверки взаиморасчетов</a></li>
        <li><a href="documents-recvizite-fz.html">Документы - Ваши реквизиты ФЗ</a></li>
        <li><a href="documents-recvizite-yr.html">Документы - Ваши реквизиты ЮР</a></li>

      </ul>
      <div class="bbox-list">
        <div class="bbox-item">
          <div class="bbox-item__title">Toggle Button M</div>
          <div class="bbox-item__body">
            <div class="toggle-btns-box">
              <button class="toggle-btn">За последние 7 дней</button>
              <button class="toggle-btn">За последний месяц</button>
              <button class="toggle-btn">За последние 3 месяца</button>
            </div>
          </div>
        
        </div>
      </div>
    </main>
    </div>
    
    <%= asideLeftHtml %>
    
    <aside class="aside-right">
      <div class="aside-box --banner --congrats">
        <div class="aside-box__image">
          <img class="img-desktop" style="margin-top: -6px;" src="img/info1.png" alt="">
          <img class="img-mobile" src="img/info1-mob.png" alt="">
        </div>
        <div class="aside-box__body">
          <div class="aside-box__title">Поздравляем!</div>
          <div class="aside-box__content">
            <p class="desc-text">Мы активировали платный тариф в подарок</p>
            <div class="aside-box__days"><span class="day">14</span> <span class="text">дней<br>осталось</span></div>
            <button class="btn --outline --full">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="aside-box xl-hidden">
        <div class="aside-box__h-title">Часто <br>используемые БД:</div>
        <div class="aside-box__content">
          <ul class="aside-db-list">
            <li class="aside-db-item">
              <a class="link" href="#">Учет и поставки «ТОО Тулпар»</a>
            </li>
            <li class="aside-db-item">
              <a class="link" href="#">Бухгалтерия и склад «ТОО Алматы Логистик» длинны....</a>
            </li>
            <li class="aside-db-item">
              <a class="link" href="#">Налоговый учет «ТОО НурКапитал»</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="aside-box xl-hidden">
        <div class="aside-box__h-title">Неоплаченные счета:</div>
        <div class="aside-box__content">
          <ul class="aside-invoices-list">
            <li class="aside-invoices-item">
              <div class="date">14.30.56</div>
              <a class="link" href="#">Бухгалтерия и склад «ТОО Алматы Логистик» длинны текст до 4 строк оста...</a>
              <div class="b-btn"><a href="#" class="btn --outline --full">Оплатить</a></div>
            </li>
            
            <li class="aside-invoices-item">
              <div class="date">14.30.56</div>
              <a class="link" href="#">Бухгалтерия и склад «ТОО Алматы Логистик» длинны текст до 4 строк оста...</a>
              <div class="b-btn"><a href="#" class="btn --outline --full">Оплатить</a></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="aside-box --banner">
        <div class="aside-box__image">
          <img class="img-desktop" style="margin-top: -10px;" src="img/info2.png" alt="">
          <img class="img-mobile" src="img/info2-mob.png" alt="">
        </div>
        <div class="aside-box__body">
          <div class="aside-box__title">Пора переходить
            на тариф</div>
          <div class="aside-box__content">
            
            <button class="btn --full">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="aside-box xl-hidden">
        <div class="aside-box__h-title">Неоплаченные счета:</div>
        <div class="aside-box__content">
          <ul class="aside-invoices-list">
            <li class="aside-invoices-item">
              <div class="date">14.30.56</div>
              <a class="link" href="#">Бухгалтерия и склад «ТОО Алматы Логистик» длинны текст до 4 строк оста...</a>
              <div class="b-btn"><a href="#" class="btn --outline --full">Оплатить</a></div>
            </li>
            
            <li class="aside-invoices-item">
              <div class="date">14.30.56</div>
              <a class="link" href="#">Бухгалтерия и склад «ТОО Алматы Логистик» длинны текст до 4 строк оста...</a>
              <div class="b-btn"><a href="#" class="btn --outline --full">Оплатить</a></div>
            </li>
            <li><a class="all-checout" href="#">Все счета +2</a></li>
          </ul>
          
        </div>
      </div>
    </aside>
  </div><!--end all -->
  
  <!-- br><br>
  <div class="btns">
    <a class="btn js-btn-modal" href="#" data-modal="modal-support">Модальное окно</a>
  </div>
  <br><br>
  <pre>
    для запуска модального окна,
    добавляем класс "js-btn-modal"
    для указания id модального окна пишем аттрибут data-modal="modal-support"
    &#706;a class="js-btn-modal" href="#" data-modal="modal-support"&#707;Модальное окно&#706;/a&#707;
  </pre>
  Контент. -->
</div>
  <%= footerHtml %>
</div>
