<% var data = {
  title: "Заголовок сайта",
  copyright: "itJustAlance"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <div class="all container-main">
    <main class="content">
      <div class="title-page">Мои подписки</div>
      <div class="main-section-list">
        <section class="section-box">
          <div class="section-box__header">
            <div class="section-box__header-title">1С Онлайн
              <div class="label-status">Активна</div>
            </div>
            <div class="section-box__header-icon">
              <img src="img/logo-1c.svg" alt="">
            </div>
          </div>
          <div class="section-box__body">
            <div class="main-info-boxes">
              <div class="box-row">
                <div class="box-col2">
                  <div class="main-info-box --user">
                    <div class="num">8</div>
                    <div class="text">
                      <div class="title">Пользователей</div>
                      <div class="b-link">
                        <a class="link-plus" href="#">
                          <svg class="svg-icon ic16">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                          Добавить пользователя
                        </a>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                  <div class="main-info-box --bd">
                    <div class="num">6</div>
                    <div class="text">
                      <div class="title">Количество БД</div>
                      <div class="b-link">
                        <a class="link-plus" href="#">
                          <svg class="svg-icon ic16">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                          Добавить базу
                        </a>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
                <div class="box-col2">
                  <div class="main-info-box --consul">
                    <div class="num">2</div>
                    <div class="text">
                      <div class="title">Доступно бесплатных консультаций из 2</div>
                      <p>Количество консультаций обновиться чере 27 дней</p>
                      <div class="b-link">
                        <a class="link-plus" href="#">
                          <svg class="svg-icon ic16">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                          Добавить пользователя
                        </a>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
              <div class="box-row">
                <div class="box-col1">
                  <div class="main-info-box">
                    <div class="box-price">
                      <div class="box-price__header">
                        <div class="price">
                          <div class="price-wrap">
                            <div class="price-label">58 200 ₸‬</div>
                            в месяц
                          </div>
                        </div>
                        <div class="info-text">
                          <div class="b-text">
                            Коротко, как происходит списывание каждый месяц или другая инфа.
                          </div>
                          <div class="b-right">
                            <button class="btn --outline">Детализация</button>
                          </div>
                        </div>
                      </div>
                      <div class="box-price__toggler">
                      
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box">
          <div class="section-box__header --red-bg">
            <div class="section-box__header-title">
              1С Хостинг
              <div class="label-status --stop">Остановлена</div>
            </div>
            <div class="section-box__header-icon">
              <img src="/img/logo-1c.svg" alt="">

            </div>
          </div>
          <div class="section-box__body">
            <div class="main-info-boxes">
              <div class="box-row">
                <div class="box-col2">
                  <div class="main-info-box --user">
                    <div class="num">8</div>
                    <div class="text">
                      <div class="title">Пользователей</div>
                      <div class="b-link">
                        <a class="link-plus" href="#">
                          <svg class="svg-icon ic16">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                          Добавить пользователя
                        </a>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                  <div class="main-info-box --bd">
                    <div class="num">6</div>
                    <div class="text">
                      <div class="title">Количество БД</div>
                      <div class="b-link">
                        <a class="link-plus" href="#">
                          <svg class="svg-icon ic16">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                          Добавить базу
                        </a>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
                <div class="box-col2">
                  <div class="main-info-box --consul">
                    <div class="num">2</div>
                    <div class="text">
                      <div class="title">Доступно бесплатных консультаций из 2</div>
                      <p>Количество консультаций обновиться чере 27 дней</p>
                      <div class="b-link">
                        <a class="link-plus" href="#">
                          <svg class="svg-icon ic16">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                          Добавить пользователя
                        </a>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
              <div class="box-row">
                <div class="box-col1">
                  <div class="main-info-box">
                    <div class="box-price">
                      <div class="box-price__header">
                        <div class="price">
                          <div class="price-wrap">
                            <div class="price-label">58 200 ₸‬</div>
                            в месяц
                          </div>
                        </div>
                        <div class="info-text">
                          <div class="b-text">
                            Коротко, как происходит списывание каждый месяц или другая инфа.
                          </div>
                          <div class="b-right">
                            <button class="btn --outline">Свернуть</button>
                          </div>
                        </div>
                      </div>
                      <div class="box-price__toggler --active">
                        <div class="table-table">
                          <div class="row">
                            <div class="col first">39 200 ₸</div>
                            <div class="col text"><strong>1С Онлайн:</strong> 4900 x 8 (1 пользователь - 500₸) = 39200₸</div>
                          </div>
                          
                          <div class="row">
                            <div class="col first">0 ₸</div>
                            <div class="col text"><strong>Платная консультация:</strong> 0 ₸</div>
                          </div>
                          
                          <div class="row">
                            <div class="col first">6 000 ₸</div>
                            <div class="col text"><strong>Доступ RDP:</strong> 2 (1 - пользователь 3000₸) = 6000 ₸</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box">
          <div class="section-box__header --red-bg">
            <div class="section-box__header-title">1С Фреш - Базовый
              <div class="label-status">Активна</div>
            </div>
            <div class="section-box__header-icon">
              <img src="img/logo-1c.svg" alt="">
            </div>
          </div>
          <div class="section-box__body">
            <div class="main-info-boxes">
              <div class="box-row">
                <div class="box-col1">
                  <div class="main-info-box">
                    <div class="box-dates">
                      <div class="box-dates__header">
                        <div class="dates">
                          <div class="dates-wrap">
                            <div class="date-label">Дата активации</div>
                            14.02.24
                          </div>
                        </div>
                        <div class="dates">
                          <div class="dates-wrap">
                            <div class="date-label">Дата завершения</div>
                            14.02.25
                          </div>
                        </div>
                        <div class="dates">
                          <div class="dates-wrap">
                            <div class="date-label">Осталось</div>
                            68 дней
                          </div>
                        </div>
                        <div class="b-right">
                          <button class="btn">Продлить</button>
                        </div>
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box">
          <div class="section-box__header --red-bg">
            <div class="section-box__header-title">1С Фреш - Базовый
              <div class="label-status">Активна</div>
            </div>
            <div class="section-box__header-icon">
              <img src="img/logo-1c.svg" alt="">
            </div>
          </div>
          <div class="section-box__body">
            <div class="main-info-boxes">
              <div class="box-row">
                <div class="box-col1">
                  <div class="main-info-box">
                    <div class="box-price">
                      <div class="box-price__header">
                        <div class="price">
                          <div class="price-wrap">
                            <div class="price-label">58 200 ₸‬</div>
                            в месяц
                          </div>
                        </div>
                        <div class="info-text">
                          <div class="b-text">
                            Коротко, как происходит списывание каждый месяц или другая инфа.
                          </div>
                          <div class="b-right">
                            <button class="btn --outline">Детализация</button>
                          </div>
                        </div>
                      </div>
                      <div class="box-price__toggler">
                      
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box">
          <div class="section-box__header --blue-bg">
            <div class="section-box__header-title">Текст в две строки Текст в две строкиТекст в две строки Текст в две строки без
              <div class="label-status">Активна</div>
            </div>
            <div class="section-box__header-icon">
              <img src="img/kaspersky.svg" alt="">
            </div>
          </div>
          <div class="section-box__body">
            <div class="main-info-boxes">
              <div class="box-row">
                <div class="box-col1">
                  <div class="main-info-box">
                    <div class="box-price">
                      <div class="box-price__header">
                        <div class="price">
                          <div class="price-wrap">
                            <div class="price-label">58 200 ₸‬</div>
                           
                          </div>
                        </div>
                        <div class="info-text">
                          <div class="b-text">
                            Коротко, как происходи
                          </div>
                          <div class="b-right">
                            <button class="btn --outline">Продлить</button>
                          </div>
                        </div>
                      </div>
                      <div class="box-price__toggler">
                      
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box">
          <div class="section-box__header">
            <div class="section-box__header-title">Noname product без логотипа
            </div>
            
          </div>
          <div class="section-box__body">
            <div class="main-info-boxes">
              <div class="box-row">
                <div class="box-col1">
                  <div class="main-info-box">
                    <div class="box-price">
                      <div class="box-price__header">
                        <div class="price">
                          <div class="price-wrap">
                            <div class="price-label">58 200 ₸‬</div>
                            в месяц
                          </div>
                        </div>
                        <div class="info-text">
                          <div class="b-text">
                            Коротко, как происх
                          </div>
                          <div class="b-right">
                            <button class="btn --outline">Продлить</button>
                          </div>
                        </div>
                      </div>
                      <div class="box-price__toggler">
                      
                      </div>
                    </div>
                  </div><!--end main-info-box -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-box">
          <div class="section-box__header --blue-bg">
            <div class="section-box__header-title">Подписки Microsoft
            </div>
            <div class="section-box__header-icon">
              <img src="img/microsoft.svg" alt="">
            </div>
          </div>
          <div class="section-box__body">
            <div class="main-subscribe-list">
              <div class="main-subscribe-box">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-1.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Exchange Online (Plan 1)</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
              <div class="main-subscribe-box --bg2">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-2.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Power BI Pro</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
              <div class="main-subscribe-box --bg3">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-3.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Хранилище блочных Blob-объектов, обще...</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
              <div class="main-subscribe-box --bg4">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-4.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Приложения Microsoft Business 365</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
              <div class="main-subscribe-box --bg5">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-5.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Microsoft решения для корпоративного</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
              <div class="main-subscribe-box --bg7">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-5.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Заглушка для любой продукции Microsoft</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
              <div class="main-subscribe-box">
                <div class="main-subscribe-box__wrapper">
                  <div class="label-status">Активна</div>
                  <div class="main-subscribe-box__image">
                    <img src="img/subs-1.svg" alt="">
                  </div>
                  <div class="main-subscribe-box__bottom">
                    <div class="main-subscribe-box__text">Количество 37</div>
                    <div class="main-subscribe-box__title">Exchange Online (Plan 1)</div>
                  </div>
                  <div class="main-subscribe-box__float">
                    <div class="float-header">
                      <div class="float-title">Exchange Online (Plan 1)</div>
                      <div class="float-text">
                        <div class="b-stop"><a href="#" class="link-stop">Остановить подписку</a></div>
                        Остерегающий сопроводительный текст
                      </div>
                    </div>
                    <div class="float-bottom">
                      <div class="number-checker">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-plus"></use>
                          </svg>
                        </button>
                        <input class="number-checker__input" value="1" type="text">
                        <button class="number-checker__btn">
                          <svg class="svg-icon">
                            <use xlink:href="#icon-ic-minus"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="b-btn">
                        <button class="btn --full">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end main-subscribe-box-->
            </div><!--end main-subscribe-list -->
          </div>
        </section>
      </div><!--end section-list -->
      
    </main>
    <aside class="aside-left">
      левая колонка
    </aside>
    <aside class="aside-right">
      правая колонка
    </aside>
  </div><!--end all -->
  
  <!-- br><br>
  <div class="btns">
    <a class="btn js-btn-modal" href="#" data-modal="modal-support">Модальное окно</a>
  </div>
  <br><br>
  <pre>
    для запуска модального окна,
    добавляем класс "js-btn-modal"
    для указания id модального окна пишем аттрибут data-modal="modal-support"
    &#706;a class="js-btn-modal" href="#" data-modal="modal-support"&#707;Модальное окно&#706;/a&#707;
  </pre>
  Контент. -->
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
